/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --black-color: #1B2028;
  --gray-color: #9E9E9E;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.overview {
  display: flex;
  min-height: 100vh;
}
/* start sidebar */
.sidebar {
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    img {
      width: 40px;
    }
    p {
      color: #fff;
      margin-left: 15px;
      font-weight: bold;
      font-size: 21px;
    }
  }
  ul {
    a {
      display: flex;
      align-items: center;
      margin: 25px;
      padding: 10px;
      border-radius: 8px;
      transition: 0.2s;
      p {
        color: var(--gray-color);
        margin: 0 0 0 15px;
      }
    }
    a.active,
    a:hover {
      background-color: #3A6FF8;
      p {
        color: #fff;
      }
    }
  }
}
/* end sidebar */
/* start dashboard */
.dashboard {
  background-color: #31353F;
  width: 100%;
  .header {
    margin: 30px 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    .main {
      color: #fff;
      font-size: 32px;
    }
    .search {
      position: relative;
      display: inline-block;
      input {
        color: var(--gray-color);
        background-color: var(--black-color);
        border: none;
        width: 300px;
        padding: 10px;
      }
      img {
        position: absolute;
        right: 12px;
        top: 5px;
      }
    }
    input:focus {
      outline: none;
    }
    .bill {
      cursor: pointer;
    }
    .account {
      display: flex;
      align-items: center;
      cursor: pointer;
      .name {
        color: #fff;
        margin: 0 10px 0 10px;
      }
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 30px;
    .card {
      background-color: var(--black-color);
      color: #fff;
      padding: 20px;
      border-radius: 10px;
      min-width: 258px;
      /* height: 178px; */
      .up {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        .parent {
          display: flex;
          flex-direction: column;
          width: 100px;
          .ch1 {
            font-size: 16px;
            font-weight: 600;
          }
          .ch2 {
            font-size: 12px;
            font-weight: 400;
          }
        }
      }
      .down {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .parent {
          display: flex;
          flex-direction: column;
          .ch1 {
            font-size: 21px;
            font-weight: 600;
            padding-bottom: 10px;
          }
          .ch2 {
            color: #1ECB4F;
            font-size: 14px;
            font-weight: 600;
          }
          .ch2.red {
            color: #F46D22;
          }
        }
      }
    }
  }
  .data {
    margin: 30px;
    display: flex;
    gap: 30px;
    .car {
      background-color: var(--black-color);
      color: #fff;
      padding: 20px;
      border-radius: 10px;
      /* min-width: 258px; */
    }
    .car.master {
      background-color: #3A6FF8;
    }
    .first {
      width: calc(100% / 3);
      .master {
        margin-bottom: 30px;
        .u {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .name {
            font-size: 16px;
            font-weight: 500;
          }
        }
        .m {
          font-size: 18px;
          font-weight: 600;
          padding: 35px 0 30px;
        }
        .d {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .text {
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
      .portfolio {
        .title {
          font-size: 21px;
          font-weight: 600;
          padding-bottom: 15px;
        }
        .line:not(:last-child) {
          padding-bottom: 20px;
        }
        .line {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .p1 {
            width: 130px;
            .ch1 {
              font-weight: 500;
              font-size: 16px;
            }
            .ch2 {
              font-weight: 400;
              font-size: 14px;
            }
          }
          .p2 {
            text-align: end;
            .ch1 {
              font-weight: 500;
              font-size: 12px;
            }
            .ch1.red {
              color: #F46D22;
            }
            .ch1.green {
              color: #1ECB4F;
            }
            .ch2 {
              font-weight: 600;
              font-size: 14px;
            }
          }
        }
      }
    }
    .second {
      width: calc(100% / 1.5);
      .chart {
        margin-bottom: 30px;
        .line1 {
          padding-bottom: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .title {
            font-weight: 600;
            font-size: 21px;
          }
          .icons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .candle {
              margin-right: 10px;
              border: 1px var(--gray-color) solid;
              padding: 5px;
              border-radius: 5px;
              cursor: pointer;
            }
            .dollar {
              border: 1px var(--gray-color) solid;
              padding: 5px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              width: 100px;
              justify-content: space-between;
              cursor: pointer;
              span {
                font-weight: 600;
                font-size: 10px;
              }
            }
          }
        }
        .line2 {
          padding-bottom: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .nums {
            font-weight: 400;
            font-size: 14px;
            .u {
              display: flex;
              margin-bottom: 8px;
              .name {
                margin-right: 10px;
              }
            }
            .d {
              font-weight: 600;
              font-size: 18px;
            }
          }
          .tags {
            display: flex;
            .tag {
              width: 41px;
              height: 22px;
              border: 1px solid var(--gray-color);
              border-radius: 20px;
              font-size: 10px;
              font-weight: 500;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
            .tag.active,
            .tag:hover {
              background-color: #3A6FF8;
              border-color: #3A6FF8;
            }
          }
        }
        .line3 {
          img {
            width: 100%;
          }
        }
      }
      .market {
        .line {
          display: flex;
          justify-content: space-between;
          .title {
            font-weight: 600;
            font-size: 21px;
          }
          .button {
            border-radius: 5px;
            border: 1px solid var(--gray-color);
            padding: 5px 10px;
          }
        }
        .data {
          display: flex;
          justify-content: space-between;
          align-items: end;
          table {
            width: 100%;
            tr {
              th {
                font-weight: 400;
                font-size: 12px;
                text-align: left;
              }
              td {
                text-align: left;
                font-weight: 400;
                font-size: 14px;
                padding: 5px;
                margin: 5px;
              }
              td.pro {
                display: flex;
                justify-content: left;
                align-items: center;
                img {
                  margin-right: 10px;
                }
                span {

                }
              }
              td.green {
                color: #1ECB4F;
              }
            }
          }
          img {

          }
        }
      }
    }
  }
}
/* end dashboard */